* {
  box-sizing: border-box;
  /* background-color: #490b3d; */
}

/* css reset */
*{
    margin: 0%;
    padding: 0%;
    height: auto;
    /* background-color: rgb(76, 100, 168); */
}
body{
  background-color: #490b3d;
  /* padding: 20px; */
  color: #fff;
  color: white;
  height: 100%;
  font-family: 'Baloo 2', cursive;
}
a{
    text-decoration: none;
    color: #f1b814;
    font-family: 'Times New Roman', Times, serif;
}


/* navigation bar design */
#navbar{
    /* background-color: rgb(178, 111, 255); */
    /* background-color: #490b3d; */
    height: auto;
    width: auto;
    margin: 2px;
    padding: 5px;
    /* border-radius: 12px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
} 

#nav-item1{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
#nav-item1>a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}
#nav-item2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
#nav-item2>h1{
    font-family: 'Baloo 2';
}
.team{
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#nav-item3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 35%;
}

#nav-item1 a::before{
    content: " ";
    height: 0px;
    width: 0px;
    background-color: #f1b814;
    position: absolute;
    top: 7.5%;
    transition: 0.5s;
}
#nav-item1 a:hover::before{
    content: " ";
    height: 2px;
    width: 20px;
    background-color: #f1b814;
    position: absolute;
    top: 7.5%;
}

/* #link {
    text-decoration: none;
    color: #fff;
} */

/* body designing */
.body3{
  margin: 20px 0px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#board {
  background: #fff;
  border-radius: 10px;
}

.board-container {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#source {
  display: none;
}


#controls{
  background: lightsteelblue;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(8, auto);
  grid-row-gap: 20px;
  grid-template-areas: 
  "blue black" 
  "green red" 
  "yellow orange" 
  "pink brown" 
  "current current" 
  "eraser clear" 
  "download download" 
  "line line";
  justify-items: center;
  font-family: 'Baloo 2';

}

form{
    color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "one one" "two three";
    align-items: center;
    justify-items: center;
    grid-column-gap: 15px;
}

.round-button {
    padding:1em;
    cursor: pointer;
    margin: 5px;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
}

.round-button:active {
    box-shadow: 0 5px rgb(133, 132, 132);
    transform: translateX(2px); 
}

.square-button{
    border-radius: 4px;
    margin: 2px;
    padding: 3px;
    font-size: auto;
    text-align: center;
    justify-content:center;
    align-content: center;
    cursor: pointer;
    height: 100%;
    width: 90%;
}

.square-button:active {
    box-shadow: 0 5px #fff;
    transform: translateX(2px);
}